body{
    text-align: center;
    background-image: url('images/pattern-background-desktop.svg');
    font-family: 'red Hat Display', sans-serif;
    padding-bottom: 250px;;
}
.head{
    position: relative;
    width: 400px;
    background-color: white;
    margin: 50px auto;
    padding-bottom: 50px;
    border-radius: 20px;
}
.banner{
    border-radius: 20px 20px 0 0;
}


}